# Build directories
build/
cmake-build-*/

# CMake artefacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake

# Binaries and libraries
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe

# Python artefacts
__pycache__/
*.py[cod]
*.pyd
*.egg-info/
.venv/

# Test/cache tools
.pytest_cache/
.mypy_cache/
